body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    transition: 0.3s;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #333;
    text-align: center;
    padding: 20px;
    color: white;
}

nav {
    background-color: #333;
    padding: 10px 20px 10px 20px;
}

nav ul {
    text-align: center;
    display: flex;
    justify-content: end;
}

nav ul li {
    list-style-type: none;
    margin-left: 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #d1d1d1;
    padding: 20px;
    gap: 20px;
}

article {
    width: 40%;
    padding: 20px;
    background-color: #b0b0b0;
}

footer {
    background-color: #333;
    padding: 20px;
    color: white;
    text-align: center;
}

figure {
    margin: 0;
}

figure img {
    margin: 10px;
}

.bloco {
    display: flex;
    flex-direction: column;
}

@media (max-width: 900px) {
    .bloco {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 768px){
    body {
        transform: translateY(-100px);
    }

    .bloco {
        flex-wrap: nowrap;
        align-items: center;
    }

    article {
        width: 100%;
    }

    figure img {
        margin: 15px;
    }
}
